* {
    box-sizing: border-box;
}

.time {
    p {
        font-size: 30px;
    }
}

body {
    font-size: 16px;
    line-height: 1.6;
    background: white;
    margin: 0;
}

header {
    background: rgb(15, 12, 26);

    h1 {
        text-align: center;
        color: $white;
        font-family: 'Barrio', sans-serif;
    }

    .time {
        text-align: center;
        color: $white;
        font-family: 'Bahiana', sans-serif;
    }
}

.container {
    margin: 45px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    height: 200px;
    width: 150px;
    background: url('https://a.wattpad.com/useravatar/CatScratch57.256.501400.jpg');
    text-align: center;
    border-radius: 5px;
    box-shadow: 9px 15px 7px $mainRGBA;

    p {
        font-size: 55px;
        color: black;
        font-family: 'Ubuntu', sans-serif;
    }

    &:hover {
        cursor: pointer;
        border: 5px solid $tundora;
    }
}
