// fonts
@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Bahiana');
@import url('https://fonts.googleapis.com/css?family=Bahiana|Ubuntu');

// colors
$tundora: #443C3C;
$white: #FFFFFF;
$portGore: #1F1C44;
$mainRGBA: rgba(55, 29, 101, 0.43);
$secondRGBA: rgba(255, 0, 0, 0.71);
